In [1]:
print('hello "Python"')

hello "Python"

In [1]:
print('hello "This is Python"')

hello "This is Python"

In [2]:
a=100
b=200
print(a+b)

300

In [3]:
a=60
b=20
print(a-b)

40

In [7]:
a=-60
b=40
print(a+b)
print(b-a)
print(a*b)
print(a/b)

-20
100
-2400
-1.5

In [10]:
a='7'
type(a)

str

In [11]:
a=2
type(a)

int

In [12]:
a=9.8
type(a)

float

In [13]:
a='9'
type(a)
int(a)

9

In [14]:
a=8.4
type(a)
float(a)

8.4

In [16]:
a='78'
type(a)
str(a)

'78'

In [17]:
str('She said, "hi"')

'She said, "hi"'

In [19]:
print('She said, "hi"')

She said, "hi"

In [25]:
a=40
b=200
print("Sum")
print(a+b)
print("multiply")
print(a*b)
print("divide")
print(b/a)
print("minus")
print(b-a)

Sum
240
multiply
8000
divide
5.0
minus
160

In [26]:
int(4.3)

4

In [28]:
float(4)

4.0

In [30]:
a=4
float(a)

4.0

In [39]:
a=int(input("enter first number"))
b=int(input("enter second number"))
print('sum') 
print(a+b)

enter first number4
enter second number5
sum
9

In [45]:
a=int(input("enter first number"))
b=int(input("enter second number"))
print("Sum:",a+b)

enter first number9
enter second number8
Sum: 17

In [46]:
a=int(input("Enter the first number"))
b=int(input("Enter the second number"))
print("Sum:",a+b)

Enter the first number643
Enter the second number5434
Sum: 6077

In [3]:
a=int(input("Enter the first number: "))
b=int(input("Enter the second number: "))
print("Sum:", a+b)

Enter the first number: 98
Enter the second number: 097
Sum: 195

In [4]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: " ))
print("Difference", a-b)

Enter first number: 986
Enter second number: 465
Difference 521

In [5]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
print("Sum:", a-b)

Enter first number: 965
Enter second number: 086
Sum: 879

In [1]:
a=int(input("Enter the forst number: "))
b=int(input("Enter the second number: "))
print("Multiply:",a*b)

Enter the forst number: 7
Enter the second number: 5
Multiply: 35

In [2]:
a=int(input("Enter First number: "))
b=int(input("Enter second number: "))
print("Divide:",a/b)

Enter First number: 6000
Enter second number: 77
Divide: 77.92207792207792

In [3]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
print("Difference:", a-b)

Enter first number: 0903
Enter second number: 765
Difference: 138

In [1]:
a=input("Enter first name")
b=input("Enter Second name")
print(a+b)

Enter first nameSaipreetha
Enter Second nameKrishna
SaipreethaKrishna

In [2]:
a=input ("Enter First name: ")
b=input ("Enter Last name: ")
print(a +b)

Enter First name: Saipreetha
Enter Last name: Krihsna
SaipreethaKrihsna

In [11]:
number=int(input("Enter the number: "))
if number >74:
    print("Distinction")
if number >60:
    print("First class")
if number >45:
    print("Second class")
if number >35:
    print("Pass")

Enter the number: 78
Distinction
First class
Second class
Pass

In [12]:
number=int(input("Enter the number: "))
if number >74: print ("Distinction")

Enter the number: 89
Distinction

# number=int(input("Enter the number: "))
if number >74: print ("Distinction")
if number >60: print ("First class")

In [29]:
number=int(input("Enter the number: "))
if number >75:
    print ("Distinction")
if number >60 and number<74: 
    print ("First class")
if number >45 and number<59: 
    print ("Second class")
if number >35 and number<44: 
    print ("Pass")
else:
    print("Fail")

Enter the number: 33
Fail

In [33]:
number = int(input("Enter the number"))
if number >0: print ("positive")

Enter the number8
positive

In [ ]:
number = int(input("Enter the number"))
if number <0: print ("negative")

In [ ]:
number = int(input("Enter the number"))
if number >0: print ("positive")
if number <0: print ("negative")

In [ ]:
number = int(input("Enter the number"))
if number >0: print ("positive")
if number <0: print ("negative")

In [8]:
number = int(input("Enter the number"))
if number >0: print ("positive")
if number <0: print ("negative")
else :
    print("This is 0")

Enter the number0
This is 0

In [ ]:
number=int(input("Enter the numner "))
if number >60: print("Hoodie")
if number >45 and number<59: print("Mug")
if number >35 and number<44: print("Pass certificate")

In [ ]:
number=int(input("Enter the numner "))
if number >60: print("Hoodie")
if number >45 and number<59: print("Mug")
if number >35 and number<44: print("Pass certificate")

In [3]:
number=int(input("Enter the numner "))
if number >=60: print("Hoodie")
if number >=45 and number<=59: print("Mug")
if number >=35 and number<=44: print("Pass certificate")

Enter the numner 35
Pass certificate

In [2]:
a=int(input("Enter the value for a "))
b=int(input("Enter the value for b "))
a=a+b
b=a-b
a=a-b
print("After swapping ")
print("Value of a:", a)
print("Value of b:", b)

Enter the value for a 7
Enter the value for b 8
After swapping
Value of a: 8
Value of b: 7

In [5]:
a=int(input("Enter the value of a "))
b=int(input("Enter the value of b "))
a=a+b
b=a-b
a=a-b
print("After Swapping ")
print("Value of a ", a)
print("Value of b", b)

Enter the value of a 7894
Enter the value of b 8058
After Swapping
Value of a  8058
Value of b 7894

In [6]:
a=int(input("Enter the value of A "))
b=int(input("Enter the value of B "))
c=int(input("Enter the value of C "))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("The Area of the Traingle ", area)

Enter the value of A 5
Enter the value of B 6
Enter the value of C 4
The Area of the Traingle  9.921567416492215

In [7]:
a=int(input("Enter the value of A "))
b=int(input("Enter the value of B "))
c=int(input("Enter the value of C "))
s=(a+b+c)/2
Area=(s*(s-a)*(s-b)*(s-c))**0.5
print("The Area of the Traingle ",Area)

Enter the value of A 53
Enter the value of B 54
Enter the value of C 86
The Area of the Traingle  1368.6657508318092

In [8]:
9**0.5

3.0

In [4]:
a=int(input("Enter the value of a "))
b=int(input("Enter the value of b "))
a=a+b
b=a-b
a=a-b
print("After swapping ")
print("Value of A ", a)
print("Value of B ", b)

Enter the value of a 45
Enter the value of b 64
After swapping
Value of A  64
Value of B  45

In [5]:
a=int(input("Enter the value of a "))
b=int(input("Enter the value of b "))
c=int(input("Enter the value of c "))
s=(a+b+c)/2
Area= (s*(s-a)*(s-b)*(s-c))**0.5
print('Area of the Triangle', Area)

Enter the value of a 54
Enter the value of b 64
Enter the value of c 85
Area of the Triangle 1727.1793298612627

In [6]:
temp="Infosys Limited"
print(len(temp))
len(temp)

15

15

In [11]:
temp="Saipreetha Krishna"
len(temp)
print(len(temp))

18

In [13]:
temp="Chethan"
len(temp)
print(len(temp))

7

In [16]:
temp="Infosys Limited"
temp[9]

'i'

In [19]:
temp="Infosys Limited"
temp[1:6]

'nfosy'

In [24]:
temp="Infosys Limited"
temp[0:9:1]

'Infosys L'

In [33]:
temp='Infosys Limited'
temp.split()

['Infosys', 'Limited']

In [34]:
temp='HI THIS IS A SAMPLE'
temp.lower()

'hi this is a sample'

In [35]:
temp='hi this is a sample'
temp.swapcase()

'HI THIS IS A SAMPLE'

In [36]:
temp='hi is the a sample'
temp.split()

['hi', 'is', 'the', 'a', 'sample']

In [38]:
temp='Hi what are you doing?'
temp.islower()

False

In [40]:
temp='90'
type=(temp)

In [2]:
temp=90
type=(temp)

In [3]:
temp=90
type=(temp)

In [4]:
temp="It is raining heavily!"
temp.split()

['It', 'is', 'raining', 'heavily!']

In [5]:
ls2=[1,2,3,4,5,6,7]
ls2[3]

4

In [14]:
list1={1,2,3,4,5,6}
type{list1}

SyntaxError: invalid syntax (<ipython-input-14-21d1ac7c7612>, line 2)

In [19]:
ls=[1,2,3,4,5,6,7,8,9,10]
item=0
while item <len(ls):
    print("item",ls[item])
    item=item+1

item 1
item 2
item 3
item 4
item 5
item 6
item 7
item 8
item 9
item 10

In [24]:
ls=[11,12,13,14,15,16,17,18,19,20]
item=0
while item <len(ls):
      print("Item ",ls[item])
      item=item+1

Item  11
Item  12
Item  13
Item  14
Item  15
Item  16
Item  17
Item  18
Item  19
Item  20

In [27]:
ls=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
ls[0:21:2]
print("Odd numbers ",ls[0:21:2])

Odd numbers  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [1]:
ls=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
ls[1:21:2]
print("Even numbers ", ls[1:21:2])

Even numbers  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
ls.append(21)

In [3]:
ls

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [6]:
even=[]
odd=[]
for i in ls:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

In [7]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [8]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [12]:
spam= int (input("Enter the value: "))
if spam==1:
    print("Hello")
elif spam==2:
    print("Howdy")
elif spam==3:
    print("Wow")
else:
    print("Enter value between 1 to 3")

Enter the value: 7
Enter value between 1 to 3

In [19]:
for i in range(1,11,):
    for j in range(1,11,):
        print(i*j,end="\t")
    print("\n")

1	2	3	4	5	6	7	8	9	10

2	4	6	8	10	12	14	16	18	20

3	6	9	12	15	18	21	24	27	30

4	8	12	16	20	24	28	32	36	40

5	10	15	20	25	30	35	40	45	50

6	12	18	24	30	36	42	48	54	60

7	14	21	28	35	42	49	56	63	70

8	16	24	32	40	48	56	64	72	80

9	18	27	36	45	54	63	72	81	90

10	20	30	40	50	60	70	80	90	100

In [3]:
is_old=True
is_licensed=True
if is_old:
    print("You are old enough to drive")

You are old enough to drive

In [5]:
is_old=False
if is_old:
    print("You are old enough to drive")
else:
    print("Sorry you are not eligble")

Sorry you are not eligble

In [11]:
is_old=False
is_licensed=False
if is_old:
    print("You are old enough to drive")
elif is_licensed:
    print('You can drive now')
else:
    print("You are not eligible")

You are not eligible

In [13]:
is_old=False
is_licensed=True
if is_old and is_licensed:
    print("You are old enough to drive and you have a license")
else:
    print("Sorry you are not eligble")

Sorry you are not eligble

In [16]:
is_old='hello'
is_licensed=5
print(bool(is_old))
print(bool(is_licensed))

True
True

In [22]:
is_old=''
is_licensed= 0.0
print(bool(is_old))
print(bool(is_licensed))

False
False

In [24]:
is_friend=False
can_message="message allowed" if is_friend else "not allowed to message"
print(can_message)

not allowed to message

In [28]:
is_friend=True
is_user=False
if is_friend and is_user:
    print("Best friends forever")
else:
    print("Not friend")

Not friend

In [29]:
is_friend=True
is_user=False
if is_friend or is_user:
    print("Best friends forever")

Best friends forever

In [1]:
li=

SyntaxError: invalid syntax (<ipython-input-1-4b2402f1cbd8>, line 1)

In [19]:
another_list=[1,2,3,4,5,5,4,32,6,7,5,6,3,4,2]
duplicate=[]

for values in another_list:
    if another_list.count(values)>1:
        if values not in duplicate:
            duplicate.append(values)
print(duplicate)

[2, 3, 4, 5, 6]

In [20]:
another_list=[1,2,3,4,5,5,4,32,6,7,5,6,3,4,2]
not_duplicate=[]
for values in another_list:
    if another_list.count(values)==1:
        not_duplicate.append(values)
print(not_duplicate)

[1, 32, 7]

In [21]:
another_list=[1,2,3,4,5,5,4,32,6,7,5,6,3,4,2]
for values in another_list:
    if another_list.count(values)>1:
        another_list.remove(values)
print(another_list)

[1, 4, 32, 7, 5, 6, 3, 4, 2]

In [23]:
another_list=[1,2,3,4,5,5,4,32,6,7,5,6,3,4,2]
print(list(set(another_list)))

[32, 1, 2, 3, 4, 5, 6, 7]